--
-- PostgreSQL database dump
--

\restrict RBsUJkoFR9kf1Y5fBqg2mWFkxdWFTmbBx8QBaDNDaKpM1wWdGRNRajB1zsjnewX

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.transfer_requests DROP CONSTRAINT IF EXISTS transfer_requests_to_employee_fkey;
ALTER TABLE IF EXISTS ONLY public.transfer_requests DROP CONSTRAINT IF EXISTS transfer_requests_requested_by_fkey;
ALTER TABLE IF EXISTS ONLY public.transfer_requests DROP CONSTRAINT IF EXISTS transfer_requests_from_employee_fkey;
ALTER TABLE IF EXISTS ONLY public.transfer_requests DROP CONSTRAINT IF EXISTS transfer_requests_asset_id_fkey;
ALTER TABLE IF EXISTS ONLY public.transfer_requests DROP CONSTRAINT IF EXISTS transfer_requests_approved_by_fkey;
ALTER TABLE IF EXISTS ONLY public.transfer_history DROP CONSTRAINT IF EXISTS transfer_history_performed_by_fkey;
ALTER TABLE IF EXISTS ONLY public.transfer_history DROP CONSTRAINT IF EXISTS transfer_history_asset_id_fkey;
ALTER TABLE IF EXISTS ONLY public.resource_bookings DROP CONSTRAINT IF EXISTS resource_bookings_employee_id_fkey;
ALTER TABLE IF EXISTS ONLY public.resource_bookings DROP CONSTRAINT IF EXISTS resource_bookings_asset_id_fkey;
ALTER TABLE IF EXISTS ONLY public.notifications DROP CONSTRAINT IF EXISTS notifications_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.maintenance_requests DROP CONSTRAINT IF EXISTS maintenance_requests_technician_id_fkey;
ALTER TABLE IF EXISTS ONLY public.maintenance_requests DROP CONSTRAINT IF EXISTS maintenance_requests_reported_by_fkey;
ALTER TABLE IF EXISTS ONLY public.maintenance_requests DROP CONSTRAINT IF EXISTS maintenance_requests_asset_id_fkey;
ALTER TABLE IF EXISTS ONLY public.maintenance_requests DROP CONSTRAINT IF EXISTS maintenance_requests_approved_by_fkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS fk_users_department;
ALTER TABLE IF EXISTS ONLY public.departments DROP CONSTRAINT IF EXISTS fk_department_head;
ALTER TABLE IF EXISTS ONLY public.departments DROP CONSTRAINT IF EXISTS departments_parent_department_id_fkey;
ALTER TABLE IF EXISTS ONLY public.audit_findings DROP CONSTRAINT IF EXISTS audit_findings_auditor_id_fkey;
ALTER TABLE IF EXISTS ONLY public.audit_findings DROP CONSTRAINT IF EXISTS audit_findings_audit_id_fkey;
ALTER TABLE IF EXISTS ONLY public.audit_findings DROP CONSTRAINT IF EXISTS audit_findings_asset_id_fkey;
ALTER TABLE IF EXISTS ONLY public.audit_cycles DROP CONSTRAINT IF EXISTS audit_cycles_department_id_fkey;
ALTER TABLE IF EXISTS ONLY public.audit_cycles DROP CONSTRAINT IF EXISTS audit_cycles_created_by_fkey;
ALTER TABLE IF EXISTS ONLY public.assets DROP CONSTRAINT IF EXISTS assets_category_id_fkey;
ALTER TABLE IF EXISTS ONLY public.asset_allocations DROP CONSTRAINT IF EXISTS asset_allocations_employee_id_fkey;
ALTER TABLE IF EXISTS ONLY public.asset_allocations DROP CONSTRAINT IF EXISTS asset_allocations_department_id_fkey;
ALTER TABLE IF EXISTS ONLY public.asset_allocations DROP CONSTRAINT IF EXISTS asset_allocations_asset_id_fkey;
ALTER TABLE IF EXISTS ONLY public.activity_logs DROP CONSTRAINT IF EXISTS activity_logs_user_id_fkey;
DROP TRIGGER IF EXISTS update_assets_updated_at ON public.assets;
DROP INDEX IF EXISTS public.idx_users_role;
DROP INDEX IF EXISTS public.idx_users_email;
DROP INDEX IF EXISTS public.idx_users_department;
DROP INDEX IF EXISTS public.idx_transfers_to_employee;
DROP INDEX IF EXISTS public.idx_transfers_status;
DROP INDEX IF EXISTS public.idx_transfers_from_employee;
DROP INDEX IF EXISTS public.idx_transfers_asset;
DROP INDEX IF EXISTS public.idx_transfer_history_performed_by;
DROP INDEX IF EXISTS public.idx_transfer_history_asset;
DROP INDEX IF EXISTS public.idx_notifications_user;
DROP INDEX IF EXISTS public.idx_notifications_type;
DROP INDEX IF EXISTS public.idx_notifications_is_read;
DROP INDEX IF EXISTS public.idx_notifications_created_at;
DROP INDEX IF EXISTS public.idx_maintenance_status;
DROP INDEX IF EXISTS public.idx_maintenance_reported_by;
DROP INDEX IF EXISTS public.idx_maintenance_priority;
DROP INDEX IF EXISTS public.idx_maintenance_asset;
DROP INDEX IF EXISTS public.idx_bookings_time_range;
DROP INDEX IF EXISTS public.idx_bookings_status;
DROP INDEX IF EXISTS public.idx_bookings_employee;
DROP INDEX IF EXISTS public.idx_bookings_asset;
DROP INDEX IF EXISTS public.idx_audit_findings_audit;
DROP INDEX IF EXISTS public.idx_audit_findings_asset;
DROP INDEX IF EXISTS public.idx_audit_cycles_status;
DROP INDEX IF EXISTS public.idx_audit_cycles_date_range;
DROP INDEX IF EXISTS public.idx_assets_tag;
DROP INDEX IF EXISTS public.idx_assets_status;
DROP INDEX IF EXISTS public.idx_assets_is_shared;
DROP INDEX IF EXISTS public.idx_assets_category;
DROP INDEX IF EXISTS public.idx_allocations_status;
DROP INDEX IF EXISTS public.idx_allocations_expected_return;
DROP INDEX IF EXISTS public.idx_allocations_employee;
DROP INDEX IF EXISTS public.idx_allocations_department;
DROP INDEX IF EXISTS public.idx_allocations_asset;
DROP INDEX IF EXISTS public.idx_activity_logs_user;
DROP INDEX IF EXISTS public.idx_activity_logs_entity;
DROP INDEX IF EXISTS public.idx_activity_logs_created_at;
DROP INDEX IF EXISTS public.idx_activity_logs_action;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_email_key;
ALTER TABLE IF EXISTS ONLY public.transfer_requests DROP CONSTRAINT IF EXISTS transfer_requests_pkey;
ALTER TABLE IF EXISTS ONLY public.transfer_history DROP CONSTRAINT IF EXISTS transfer_history_pkey;
ALTER TABLE IF EXISTS ONLY public.resource_bookings DROP CONSTRAINT IF EXISTS resource_bookings_pkey;
ALTER TABLE IF EXISTS ONLY public.notifications DROP CONSTRAINT IF EXISTS notifications_pkey;
ALTER TABLE IF EXISTS ONLY public.maintenance_requests DROP CONSTRAINT IF EXISTS maintenance_requests_pkey;
ALTER TABLE IF EXISTS ONLY public.departments DROP CONSTRAINT IF EXISTS departments_pkey;
ALTER TABLE IF EXISTS ONLY public.audit_findings DROP CONSTRAINT IF EXISTS audit_findings_pkey;
ALTER TABLE IF EXISTS ONLY public.audit_cycles DROP CONSTRAINT IF EXISTS audit_cycles_pkey;
ALTER TABLE IF EXISTS ONLY public.assets DROP CONSTRAINT IF EXISTS assets_serial_number_key;
ALTER TABLE IF EXISTS ONLY public.assets DROP CONSTRAINT IF EXISTS assets_pkey;
ALTER TABLE IF EXISTS ONLY public.assets DROP CONSTRAINT IF EXISTS assets_asset_tag_key;
ALTER TABLE IF EXISTS ONLY public.asset_categories DROP CONSTRAINT IF EXISTS asset_categories_pkey;
ALTER TABLE IF EXISTS ONLY public.asset_allocations DROP CONSTRAINT IF EXISTS asset_allocations_pkey;
ALTER TABLE IF EXISTS ONLY public.activity_logs DROP CONSTRAINT IF EXISTS activity_logs_pkey;
ALTER TABLE IF EXISTS public.users ALTER COLUMN user_id DROP DEFAULT;
ALTER TABLE IF EXISTS public.transfer_requests ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.transfer_history ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.resource_bookings ALTER COLUMN booking_id DROP DEFAULT;
ALTER TABLE IF EXISTS public.notifications ALTER COLUMN notification_id DROP DEFAULT;
ALTER TABLE IF EXISTS public.maintenance_requests ALTER COLUMN request_id DROP DEFAULT;
ALTER TABLE IF EXISTS public.departments ALTER COLUMN department_id DROP DEFAULT;
ALTER TABLE IF EXISTS public.audit_findings ALTER COLUMN finding_id DROP DEFAULT;
ALTER TABLE IF EXISTS public.audit_cycles ALTER COLUMN audit_id DROP DEFAULT;
ALTER TABLE IF EXISTS public.assets ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.asset_categories ALTER COLUMN category_id DROP DEFAULT;
ALTER TABLE IF EXISTS public.asset_allocations ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.activity_logs ALTER COLUMN log_id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.users_user_id_seq;
DROP TABLE IF EXISTS public.users;
DROP SEQUENCE IF EXISTS public.transfer_requests_id_seq;
DROP TABLE IF EXISTS public.transfer_requests;
DROP SEQUENCE IF EXISTS public.transfer_history_id_seq;
DROP TABLE IF EXISTS public.transfer_history;
DROP SEQUENCE IF EXISTS public.resource_bookings_booking_id_seq;
DROP TABLE IF EXISTS public.resource_bookings;
DROP SEQUENCE IF EXISTS public.notifications_notification_id_seq;
DROP TABLE IF EXISTS public.notifications;
DROP SEQUENCE IF EXISTS public.maintenance_requests_request_id_seq;
DROP TABLE IF EXISTS public.maintenance_requests;
DROP SEQUENCE IF EXISTS public.departments_department_id_seq;
DROP TABLE IF EXISTS public.departments;
DROP SEQUENCE IF EXISTS public.audit_findings_finding_id_seq;
DROP TABLE IF EXISTS public.audit_findings;
DROP SEQUENCE IF EXISTS public.audit_cycles_audit_id_seq;
DROP TABLE IF EXISTS public.audit_cycles;
DROP SEQUENCE IF EXISTS public.assets_id_seq;
DROP TABLE IF EXISTS public.assets;
DROP SEQUENCE IF EXISTS public.asset_categories_category_id_seq;
DROP TABLE IF EXISTS public.asset_categories;
DROP SEQUENCE IF EXISTS public.asset_allocations_id_seq;
DROP TABLE IF EXISTS public.asset_allocations;
DROP SEQUENCE IF EXISTS public.activity_logs_log_id_seq;
DROP TABLE IF EXISTS public.activity_logs;
DROP FUNCTION IF EXISTS public.update_updated_at_column();
--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activity_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.activity_logs (
    log_id integer NOT NULL,
    user_id integer NOT NULL,
    action character varying(100) NOT NULL,
    entity_type character varying(50) NOT NULL,
    entity_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.activity_logs OWNER TO postgres;

--
-- Name: activity_logs_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.activity_logs_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.activity_logs_log_id_seq OWNER TO postgres;

--
-- Name: activity_logs_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.activity_logs_log_id_seq OWNED BY public.activity_logs.log_id;


--
-- Name: asset_allocations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.asset_allocations (
    id integer NOT NULL,
    asset_id integer NOT NULL,
    employee_id integer NOT NULL,
    department_id integer NOT NULL,
    allocated_date date NOT NULL,
    expected_return_date date,
    actual_return_date date,
    status character varying(50) DEFAULT 'ACTIVE'::character varying,
    condition_notes text,
    remarks text,
    CONSTRAINT asset_allocations_status_check CHECK (((status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'RETURNED'::character varying])::text[])))
);


ALTER TABLE public.asset_allocations OWNER TO postgres;

--
-- Name: asset_allocations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.asset_allocations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.asset_allocations_id_seq OWNER TO postgres;

--
-- Name: asset_allocations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.asset_allocations_id_seq OWNED BY public.asset_allocations.id;


--
-- Name: asset_categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.asset_categories (
    category_id integer NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    status character varying(50) DEFAULT 'ACTIVE'::character varying,
    CONSTRAINT asset_categories_status_check CHECK (((status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'INACTIVE'::character varying])::text[])))
);


ALTER TABLE public.asset_categories OWNER TO postgres;

--
-- Name: asset_categories_category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.asset_categories_category_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.asset_categories_category_id_seq OWNER TO postgres;

--
-- Name: asset_categories_category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.asset_categories_category_id_seq OWNED BY public.asset_categories.category_id;


--
-- Name: assets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assets (
    id integer NOT NULL,
    asset_tag character varying(50) NOT NULL,
    asset_name character varying(255) NOT NULL,
    category_id integer NOT NULL,
    serial_number character varying(100),
    purchase_date date NOT NULL,
    purchase_cost numeric(15,2),
    condition character varying(50) DEFAULT 'GOOD'::character varying,
    location character varying(255),
    is_shared boolean DEFAULT false,
    status character varying(50) DEFAULT 'AVAILABLE'::character varying,
    photo_url character varying(500),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT assets_status_check CHECK (((status)::text = ANY ((ARRAY['AVAILABLE'::character varying, 'ALLOCATED'::character varying, 'RESERVED'::character varying, 'UNDER_MAINTENANCE'::character varying, 'LOST'::character varying, 'RETIRED'::character varying, 'DISPOSED'::character varying])::text[])))
);


ALTER TABLE public.assets OWNER TO postgres;

--
-- Name: assets_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.assets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.assets_id_seq OWNER TO postgres;

--
-- Name: assets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.assets_id_seq OWNED BY public.assets.id;


--
-- Name: audit_cycles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_cycles (
    audit_id integer NOT NULL,
    name character varying(255) NOT NULL,
    department_id integer,
    start_date date NOT NULL,
    end_date date NOT NULL,
    status character varying(50) DEFAULT 'PLANNED'::character varying,
    created_by integer NOT NULL,
    CONSTRAINT audit_cycles_status_check CHECK (((status)::text = ANY ((ARRAY['PLANNED'::character varying, 'IN_PROGRESS'::character varying, 'COMPLETED'::character varying])::text[])))
);


ALTER TABLE public.audit_cycles OWNER TO postgres;

--
-- Name: audit_cycles_audit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.audit_cycles_audit_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.audit_cycles_audit_id_seq OWNER TO postgres;

--
-- Name: audit_cycles_audit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.audit_cycles_audit_id_seq OWNED BY public.audit_cycles.audit_id;


--
-- Name: audit_findings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_findings (
    finding_id integer NOT NULL,
    audit_id integer NOT NULL,
    asset_id integer NOT NULL,
    auditor_id integer NOT NULL,
    status character varying(50) NOT NULL,
    notes text,
    CONSTRAINT audit_findings_status_check CHECK (((status)::text = ANY ((ARRAY['VERIFIED'::character varying, 'MISSING'::character varying, 'DAMAGED'::character varying])::text[])))
);


ALTER TABLE public.audit_findings OWNER TO postgres;

--
-- Name: audit_findings_finding_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.audit_findings_finding_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.audit_findings_finding_id_seq OWNER TO postgres;

--
-- Name: audit_findings_finding_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.audit_findings_finding_id_seq OWNED BY public.audit_findings.finding_id;


--
-- Name: departments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.departments (
    department_id integer NOT NULL,
    name character varying(255) NOT NULL,
    parent_department_id integer,
    department_head_id integer,
    status character varying(50) DEFAULT 'ACTIVE'::character varying,
    CONSTRAINT departments_status_check CHECK (((status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'INACTIVE'::character varying])::text[])))
);


ALTER TABLE public.departments OWNER TO postgres;

--
-- Name: departments_department_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.departments_department_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.departments_department_id_seq OWNER TO postgres;

--
-- Name: departments_department_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.departments_department_id_seq OWNED BY public.departments.department_id;


--
-- Name: maintenance_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.maintenance_requests (
    request_id integer NOT NULL,
    asset_id integer NOT NULL,
    reported_by integer NOT NULL,
    issue_description text NOT NULL,
    priority character varying(50) DEFAULT 'MEDIUM'::character varying,
    status character varying(50) DEFAULT 'PENDING'::character varying,
    approved_by integer,
    technician_id integer,
    resolution_notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT maintenance_requests_priority_check CHECK (((priority)::text = ANY ((ARRAY['LOW'::character varying, 'MEDIUM'::character varying, 'HIGH'::character varying])::text[]))),
    CONSTRAINT maintenance_requests_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying, 'IN_PROGRESS'::character varying, 'RESOLVED'::character varying])::text[])))
);


ALTER TABLE public.maintenance_requests OWNER TO postgres;

--
-- Name: maintenance_requests_request_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.maintenance_requests_request_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.maintenance_requests_request_id_seq OWNER TO postgres;

--
-- Name: maintenance_requests_request_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.maintenance_requests_request_id_seq OWNED BY public.maintenance_requests.request_id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    notification_id integer NOT NULL,
    user_id integer NOT NULL,
    title character varying(255) NOT NULL,
    message text NOT NULL,
    type character varying(50) NOT NULL,
    is_read boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: notifications_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.notifications_notification_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.notifications_notification_id_seq OWNER TO postgres;

--
-- Name: notifications_notification_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.notifications_notification_id_seq OWNED BY public.notifications.notification_id;


--
-- Name: resource_bookings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resource_bookings (
    booking_id integer NOT NULL,
    asset_id integer NOT NULL,
    employee_id integer NOT NULL,
    start_time timestamp without time zone NOT NULL,
    end_time timestamp without time zone NOT NULL,
    purpose text,
    status character varying(50) DEFAULT 'UPCOMING'::character varying,
    CONSTRAINT resource_bookings_status_check CHECK (((status)::text = ANY ((ARRAY['UPCOMING'::character varying, 'ONGOING'::character varying, 'COMPLETED'::character varying, 'CANCELLED'::character varying])::text[])))
);


ALTER TABLE public.resource_bookings OWNER TO postgres;

--
-- Name: resource_bookings_booking_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.resource_bookings_booking_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.resource_bookings_booking_id_seq OWNER TO postgres;

--
-- Name: resource_bookings_booking_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.resource_bookings_booking_id_seq OWNED BY public.resource_bookings.booking_id;


--
-- Name: transfer_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transfer_history (
    id integer NOT NULL,
    asset_id integer NOT NULL,
    action character varying(50) NOT NULL,
    performed_by integer NOT NULL,
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.transfer_history OWNER TO postgres;

--
-- Name: transfer_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.transfer_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.transfer_history_id_seq OWNER TO postgres;

--
-- Name: transfer_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.transfer_history_id_seq OWNED BY public.transfer_history.id;


--
-- Name: transfer_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transfer_requests (
    id integer NOT NULL,
    asset_id integer NOT NULL,
    from_employee integer NOT NULL,
    to_employee integer NOT NULL,
    requested_by integer NOT NULL,
    approved_by integer,
    status character varying(50) DEFAULT 'PENDING'::character varying,
    requested_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    approved_at timestamp without time zone,
    CONSTRAINT transfer_requests_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying, 'CANCELLED'::character varying])::text[])))
);


ALTER TABLE public.transfer_requests OWNER TO postgres;

--
-- Name: transfer_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.transfer_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.transfer_requests_id_seq OWNER TO postgres;

--
-- Name: transfer_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.transfer_requests_id_seq OWNED BY public.transfer_requests.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    department_id integer,
    role character varying(50) DEFAULT 'EMPLOYEE'::character varying,
    status character varying(50) DEFAULT 'ACTIVE'::character varying,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['EMPLOYEE'::character varying, 'DEPARTMENT_HEAD'::character varying, 'ASSET_MANAGER'::character varying, 'ADMIN'::character varying])::text[]))),
    CONSTRAINT users_status_check CHECK (((status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'INACTIVE'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_user_id_seq OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: activity_logs log_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_logs ALTER COLUMN log_id SET DEFAULT nextval('public.activity_logs_log_id_seq'::regclass);


--
-- Name: asset_allocations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_allocations ALTER COLUMN id SET DEFAULT nextval('public.asset_allocations_id_seq'::regclass);


--
-- Name: asset_categories category_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_categories ALTER COLUMN category_id SET DEFAULT nextval('public.asset_categories_category_id_seq'::regclass);


--
-- Name: assets id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assets ALTER COLUMN id SET DEFAULT nextval('public.assets_id_seq'::regclass);


--
-- Name: audit_cycles audit_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_cycles ALTER COLUMN audit_id SET DEFAULT nextval('public.audit_cycles_audit_id_seq'::regclass);


--
-- Name: audit_findings finding_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_findings ALTER COLUMN finding_id SET DEFAULT nextval('public.audit_findings_finding_id_seq'::regclass);


--
-- Name: departments department_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments ALTER COLUMN department_id SET DEFAULT nextval('public.departments_department_id_seq'::regclass);


--
-- Name: maintenance_requests request_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_requests ALTER COLUMN request_id SET DEFAULT nextval('public.maintenance_requests_request_id_seq'::regclass);


--
-- Name: notifications notification_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications ALTER COLUMN notification_id SET DEFAULT nextval('public.notifications_notification_id_seq'::regclass);


--
-- Name: resource_bookings booking_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resource_bookings ALTER COLUMN booking_id SET DEFAULT nextval('public.resource_bookings_booking_id_seq'::regclass);


--
-- Name: transfer_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transfer_history ALTER COLUMN id SET DEFAULT nextval('public.transfer_history_id_seq'::regclass);


--
-- Name: transfer_requests id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transfer_requests ALTER COLUMN id SET DEFAULT nextval('public.transfer_requests_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Data for Name: activity_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.activity_logs (log_id, user_id, action, entity_type, entity_id, created_at) FROM stdin;
\.


--
-- Data for Name: asset_allocations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.asset_allocations (id, asset_id, employee_id, department_id, allocated_date, expected_return_date, actual_return_date, status, condition_notes, remarks) FROM stdin;
2	2	1	1	2026-07-12	\N	\N	ACTIVE	\N	Assigned desktop monitor
1	1	2	1	2026-07-12	\N	\N	ACTIVE	\N	Assigned for Engineering tasks
\.


--
-- Data for Name: asset_categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.asset_categories (category_id, name, description, status) FROM stdin;
1	Laptop	Work laptops and notebooks	ACTIVE
2	Monitor	External displays and screens	ACTIVE
3	Tablet	Tablets and mobile devices	ACTIVE
4	Peripheral	Keyboards, mice, and accessories	ACTIVE
5	Networking	Routers, switches, and access points	ACTIVE
6	Meeting Room	Shared meeting rooms	ACTIVE
7	Conference Hall	Large halls for events	ACTIVE
8	Projector	Portable screens	ACTIVE
9	Company Car	Vehicles for corporate travel	ACTIVE
\.


--
-- Data for Name: assets; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: audit_cycles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.audit_cycles (audit_id, name, department_id, start_date, end_date, status, created_by) FROM stdin;
\.


--
-- Data for Name: audit_findings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.audit_findings (finding_id, audit_id, asset_id, auditor_id, status, notes) FROM stdin;
\.


--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.departments (department_id, name, parent_department_id, department_head_id, status) FROM stdin;
2	Operations	\N	\N	ACTIVE
4	krish_45	\N	2	ACTIVE
1	Engineering	\N	\N	ACTIVE
\.


--
-- Data for Name: maintenance_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.maintenance_requests (request_id, asset_id, reported_by, issue_description, priority, status, approved_by, technician_id, resolution_notes, created_at) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (notification_id, user_id, title, message, type, is_read, created_at) FROM stdin;
\.


--
-- Data for Name: resource_bookings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.resource_bookings (booking_id, asset_id, employee_id, start_time, end_time, purpose, status) FROM stdin;
1	6	1	2026-07-12 11:48:04.746072	2026-07-12 13:18:04.746072	Sprint Planning	UPCOMING
2	10	2	2026-07-12 14:48:04.746072	2026-07-12 16:48:04.746072	Product Launch Presentation	UPCOMING
3	11	1	2026-07-11 10:48:04.746072	2026-07-11 12:48:04.746072	Client Demo	COMPLETED
4	13	2	2026-07-13 10:48:04.746072	2026-07-13 18:48:04.746072	Client Visit - Downtown	UPCOMING
\.


--
-- Data for Name: transfer_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.transfer_history (id, asset_id, action, performed_by, description, created_at) FROM stdin;
1	1	ALLOCATED	1	Asset allocated to employee ID 1 in department ID 1	2026-07-12 07:12:59.766679
2	2	ALLOCATED	1	Asset allocated to employee ID 1 in department ID 1	2026-07-12 07:12:59.792477
3	1	TRANSFER_APPROVED	2	Transfer approved from employee 1 to 2	2026-07-12 07:12:59.816524
\.


--
-- Data for Name: transfer_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.transfer_requests (id, asset_id, from_employee, to_employee, requested_by, approved_by, status, requested_at, approved_at) FROM stdin;
1	1	1	2	1	2	APPROVED	2026-07-12 07:12:59.807316	2026-07-12 07:12:59.816524
2	2	1	2	1	2	REJECTED	2026-07-12 07:12:59.835626	2026-07-12 07:13:15.65056
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (user_id, email, password, name, department_id, role, status, is_active, created_at) FROM stdin;
2	alex.rivera@example.com	hashed_pw	Alex Rivera	2	EMPLOYEE	ACTIVE	t	2026-07-12 07:12:59.7282
3	admin@assetflow.com	$2b$10$x2Ve4A/eVLBsEO8TF1alyumWWNZ8b/cgM1nwO/udrVyKLgDSM4Fg2	Admin User	\N	ADMIN	ACTIVE	t	2026-07-12 07:12:59.7282
1	sarah.johnson@example.com	hashed_pw	Sarah Johnson tari mani	\N	EMPLOYEE	INACTIVE	t	2026-07-12 07:12:59.7282
4	krishvadsak.co23d2@scet.ac.in	krish123	Krish Vadsak	\N	EMPLOYEE	ACTIVE	t	2026-07-12 10:54:14.734092
\.


--
-- Name: activity_logs_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.activity_logs_log_id_seq', 1, false);


--
-- Name: asset_allocations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.asset_allocations_id_seq', 2, true);


--
-- Name: asset_categories_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.asset_categories_category_id_seq', 10, true);


--
-- Name: assets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.assets_id_seq', 14, true);


--
-- Name: audit_cycles_audit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.audit_cycles_audit_id_seq', 1, false);


--
-- Name: audit_findings_finding_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.audit_findings_finding_id_seq', 1, false);


--
-- Name: departments_department_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.departments_department_id_seq', 4, true);


--
-- Name: maintenance_requests_request_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.maintenance_requests_request_id_seq', 1, false);


--
-- Name: notifications_notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_notification_id_seq', 1, false);


--
-- Name: resource_bookings_booking_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.resource_bookings_booking_id_seq', 4, true);


--
-- Name: transfer_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.transfer_history_id_seq', 3, true);


--
-- Name: transfer_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.transfer_requests_id_seq', 2, true);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_id_seq', 4, true);


--
-- Name: activity_logs activity_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT activity_logs_pkey PRIMARY KEY (log_id);


--
-- Name: asset_allocations asset_allocations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_allocations
    ADD CONSTRAINT asset_allocations_pkey PRIMARY KEY (id);


--
-- Name: asset_categories asset_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_categories
    ADD CONSTRAINT asset_categories_pkey PRIMARY KEY (category_id);


--
-- Name: assets assets_asset_tag_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_asset_tag_key UNIQUE (asset_tag);


--
-- Name: assets assets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_pkey PRIMARY KEY (id);


--
-- Name: assets assets_serial_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_serial_number_key UNIQUE (serial_number);


--
-- Name: audit_cycles audit_cycles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_cycles
    ADD CONSTRAINT audit_cycles_pkey PRIMARY KEY (audit_id);


--
-- Name: audit_findings audit_findings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_findings
    ADD CONSTRAINT audit_findings_pkey PRIMARY KEY (finding_id);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (department_id);


--
-- Name: maintenance_requests maintenance_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_requests
    ADD CONSTRAINT maintenance_requests_pkey PRIMARY KEY (request_id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (notification_id);


--
-- Name: resource_bookings resource_bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resource_bookings
    ADD CONSTRAINT resource_bookings_pkey PRIMARY KEY (booking_id);


--
-- Name: transfer_history transfer_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transfer_history
    ADD CONSTRAINT transfer_history_pkey PRIMARY KEY (id);


--
-- Name: transfer_requests transfer_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transfer_requests
    ADD CONSTRAINT transfer_requests_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: idx_activity_logs_action; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_activity_logs_action ON public.activity_logs USING btree (action);


--
-- Name: idx_activity_logs_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_activity_logs_created_at ON public.activity_logs USING btree (created_at);


--
-- Name: idx_activity_logs_entity; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_activity_logs_entity ON public.activity_logs USING btree (entity_type, entity_id);


--
-- Name: idx_activity_logs_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_activity_logs_user ON public.activity_logs USING btree (user_id);


--
-- Name: idx_allocations_asset; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_allocations_asset ON public.asset_allocations USING btree (asset_id);


--
-- Name: idx_allocations_department; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_allocations_department ON public.asset_allocations USING btree (department_id);


--
-- Name: idx_allocations_employee; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_allocations_employee ON public.asset_allocations USING btree (employee_id);


--
-- Name: idx_allocations_expected_return; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_allocations_expected_return ON public.asset_allocations USING btree (expected_return_date);


--
-- Name: idx_allocations_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_allocations_status ON public.asset_allocations USING btree (status);


--
-- Name: idx_assets_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_assets_category ON public.assets USING btree (category_id);


--
-- Name: idx_assets_is_shared; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_assets_is_shared ON public.assets USING btree (is_shared);


--
-- Name: idx_assets_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_assets_status ON public.assets USING btree (status);


--
-- Name: idx_assets_tag; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_assets_tag ON public.assets USING btree (asset_tag);


--
-- Name: idx_audit_cycles_date_range; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_cycles_date_range ON public.audit_cycles USING btree (start_date, end_date);


--
-- Name: idx_audit_cycles_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_cycles_status ON public.audit_cycles USING btree (status);


--
-- Name: idx_audit_findings_asset; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_findings_asset ON public.audit_findings USING btree (asset_id);


--
-- Name: idx_audit_findings_audit; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_findings_audit ON public.audit_findings USING btree (audit_id);


--
-- Name: idx_bookings_asset; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bookings_asset ON public.resource_bookings USING btree (asset_id);


--
-- Name: idx_bookings_employee; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bookings_employee ON public.resource_bookings USING btree (employee_id);


--
-- Name: idx_bookings_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bookings_status ON public.resource_bookings USING btree (status);


--
-- Name: idx_bookings_time_range; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bookings_time_range ON public.resource_bookings USING btree (start_time, end_time);


--
-- Name: idx_maintenance_asset; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_maintenance_asset ON public.maintenance_requests USING btree (asset_id);


--
-- Name: idx_maintenance_priority; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_maintenance_priority ON public.maintenance_requests USING btree (priority);


--
-- Name: idx_maintenance_reported_by; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_maintenance_reported_by ON public.maintenance_requests USING btree (reported_by);


--
-- Name: idx_maintenance_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_maintenance_status ON public.maintenance_requests USING btree (status);


--
-- Name: idx_notifications_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_created_at ON public.notifications USING btree (created_at);


--
-- Name: idx_notifications_is_read; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_is_read ON public.notifications USING btree (is_read);


--
-- Name: idx_notifications_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_type ON public.notifications USING btree (type);


--
-- Name: idx_notifications_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_user ON public.notifications USING btree (user_id);


--
-- Name: idx_transfer_history_asset; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transfer_history_asset ON public.transfer_history USING btree (asset_id);


--
-- Name: idx_transfer_history_performed_by; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transfer_history_performed_by ON public.transfer_history USING btree (performed_by);


--
-- Name: idx_transfers_asset; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transfers_asset ON public.transfer_requests USING btree (asset_id);


--
-- Name: idx_transfers_from_employee; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transfers_from_employee ON public.transfer_requests USING btree (from_employee);


--
-- Name: idx_transfers_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transfers_status ON public.transfer_requests USING btree (status);


--
-- Name: idx_transfers_to_employee; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transfers_to_employee ON public.transfer_requests USING btree (to_employee);


--
-- Name: idx_users_department; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_department ON public.users USING btree (department_id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: assets update_assets_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_assets_updated_at BEFORE UPDATE ON public.assets FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: activity_logs activity_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT activity_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: asset_allocations asset_allocations_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_allocations
    ADD CONSTRAINT asset_allocations_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(id);


--
-- Name: asset_allocations asset_allocations_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_allocations
    ADD CONSTRAINT asset_allocations_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(department_id);


--
-- Name: asset_allocations asset_allocations_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asset_allocations
    ADD CONSTRAINT asset_allocations_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.users(user_id);


--
-- Name: assets assets_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.asset_categories(category_id);


--
-- Name: audit_cycles audit_cycles_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_cycles
    ADD CONSTRAINT audit_cycles_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(user_id);


--
-- Name: audit_cycles audit_cycles_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_cycles
    ADD CONSTRAINT audit_cycles_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(department_id);


--
-- Name: audit_findings audit_findings_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_findings
    ADD CONSTRAINT audit_findings_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(id);


--
-- Name: audit_findings audit_findings_audit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_findings
    ADD CONSTRAINT audit_findings_audit_id_fkey FOREIGN KEY (audit_id) REFERENCES public.audit_cycles(audit_id);


--
-- Name: audit_findings audit_findings_auditor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_findings
    ADD CONSTRAINT audit_findings_auditor_id_fkey FOREIGN KEY (auditor_id) REFERENCES public.users(user_id);


--
-- Name: departments departments_parent_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_parent_department_id_fkey FOREIGN KEY (parent_department_id) REFERENCES public.departments(department_id);


--
-- Name: departments fk_department_head; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT fk_department_head FOREIGN KEY (department_head_id) REFERENCES public.users(user_id);


--
-- Name: users fk_users_department; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_department FOREIGN KEY (department_id) REFERENCES public.departments(department_id);


--
-- Name: maintenance_requests maintenance_requests_approved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_requests
    ADD CONSTRAINT maintenance_requests_approved_by_fkey FOREIGN KEY (approved_by) REFERENCES public.users(user_id);


--
-- Name: maintenance_requests maintenance_requests_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_requests
    ADD CONSTRAINT maintenance_requests_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(id);


--
-- Name: maintenance_requests maintenance_requests_reported_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_requests
    ADD CONSTRAINT maintenance_requests_reported_by_fkey FOREIGN KEY (reported_by) REFERENCES public.users(user_id);


--
-- Name: maintenance_requests maintenance_requests_technician_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_requests
    ADD CONSTRAINT maintenance_requests_technician_id_fkey FOREIGN KEY (technician_id) REFERENCES public.users(user_id);


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: resource_bookings resource_bookings_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resource_bookings
    ADD CONSTRAINT resource_bookings_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(id);


--
-- Name: resource_bookings resource_bookings_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resource_bookings
    ADD CONSTRAINT resource_bookings_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.users(user_id);


--
-- Name: transfer_history transfer_history_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transfer_history
    ADD CONSTRAINT transfer_history_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(id);


--
-- Name: transfer_history transfer_history_performed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transfer_history
    ADD CONSTRAINT transfer_history_performed_by_fkey FOREIGN KEY (performed_by) REFERENCES public.users(user_id);


--
-- Name: transfer_requests transfer_requests_approved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transfer_requests
    ADD CONSTRAINT transfer_requests_approved_by_fkey FOREIGN KEY (approved_by) REFERENCES public.users(user_id);


--
-- Name: transfer_requests transfer_requests_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transfer_requests
    ADD CONSTRAINT transfer_requests_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(id);


--
-- Name: transfer_requests transfer_requests_from_employee_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transfer_requests
    ADD CONSTRAINT transfer_requests_from_employee_fkey FOREIGN KEY (from_employee) REFERENCES public.users(user_id);


--
-- Name: transfer_requests transfer_requests_requested_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transfer_requests
    ADD CONSTRAINT transfer_requests_requested_by_fkey FOREIGN KEY (requested_by) REFERENCES public.users(user_id);


--
-- Name: transfer_requests transfer_requests_to_employee_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transfer_requests
    ADD CONSTRAINT transfer_requests_to_employee_fkey FOREIGN KEY (to_employee) REFERENCES public.users(user_id);


--
-- PostgreSQL database dump complete
--

\unrestrict RBsUJkoFR9kf1Y5fBqg2mWFkxdWFTmbBx8QBaDNDaKpM1wWdGRNRajB1zsjnewX

